#Greek Letters lowercase
snippet `a
	\alpha
snippet `b
	\beta
snippet `g
	\gamma
snippet `d
	\delta
snippet `e
	\varepsilon
snippet `z
	\zeta
snippet `l
	\lambda
snippet `m
	\mu
snippet `n
	\nu
snippet `r
	\rho
snippet `s
	\sigma

#Greek letters uppercase
snippet `A
	\Alpha
snippet `B
	\Beta
snippet `G
	\Gamma
